body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(234, 216, 206);
  color: rgb(97, 55, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.carregamento {
  max-width: 90%;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.espelho {
  width: 200px;
  margin: 20px auto;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.botao {
  background-color: rgb(222, 200, 188);
  border: 2px solid rgb(222, 200, 188);
  padding: 12px 30px;
  border-radius: 8px;
  color: rgb(97, 55, 47);
  font-weight: bold;
  text-decoration: none;
}